@font-face {
  font-family: "Lazy Dog";
  src: url('../assets/fonts/lazy_dog.ttf') format('truetype');
}

h1 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 !important;
}

a {
  font-family: Lazy Dog, sans-serif;
  font-size: 1.5rem;
}

button {
  font-family: Lazy Dog, sans-serif;
  font-size: 1.75rem;
}

/** PHASMO TABS */
.c-sections {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.c-content {
  width: 100%;
  height: 100%;
}

.c-phasmo__header {
  gap: 30px;
  height: 70px;
  align-items: center;
  display: flex;
  padding: 0 80px;
  justify-content: space-around;
}

.c-phasmo__button {
  width: 100%;
  height: 100%;

  text-decoration: auto;

  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-phasmo__title {
  color: white;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/title.png");
  background-position: center;
  background-repeat: no-repeat;
}

#screenshot-image canvas {
  width: 90%;
  height: 90%;
}

.c-phasmo__contract__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 0 80px;
}

.c-phasmo__contract .c-phasmo__title {
  padding: 20px 0;
}


.c-phasmo__input {
  width: 100%;
  height: 100%;

  padding: 10px 0;

  text-decoration: auto;

  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-phasmo__input--small {
  padding: 10px 0;
  font-size: 1rem !important;

  text-decoration: auto;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}